# Lists

## Define a list

*List can be defined with the help of square brackets*

In [51]:
a = [1, -2, 3, 4, -9, 6, 1, 7, 8, 0]
print(a)

[1, -2, 3, 4, -9, 6, 1, 7, 8, 0]

# Accessing list items

List items can be accessed by their index. In python the index starts from 0 and negative indexing is possible.
so index 0 refers to the first item and -1 refers to the last item of the list.

In [36]:
print(a[3])

4

In [37]:
print(a[-3])

7

It is possible to specify a range of the indices to return the items in the list

In [35]:
print(a[2:5])

[3, 4, -9]

In [38]:
print(a[2:])

[3, 4, -9, 6, 1, 7, 8, 0]

In [39]:
print(a[:5])

[1, -2, 3, 4, -9]

In [40]:
print(a[-4:-2])

[1, 7]

# Check if an item exists in a list

In [43]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Modify Lists

### 1. Adding an item to the list -> Include more items to an exisisting list
### append()
*By default the item added to the list using the append function is added at the end of the list. One list can contain multiple datatypes*

In [53]:
a.append(3)                                               #Append an integer to the existing list
a.append(5.0)                                             #Append a float to the existing list
a.append([6, 7])                                          #Append a list to the existing list
a.append("Hello")                                         #Append a string to the existing list
a.append((8, 9))                                          #Append a tuple to the existing list
a.append({10, 11})                                        #Append a set to the existing list
a.append({"name": "John", "age": 36})                    #Append a dictionary to the existing list

In [54]:
print(a)

[1, -2, 3, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello', (8, 9), {10, 11}, {'name': 'John', 'age': 36}, 3, 5.0, [6, 7], 'Hello', (8, 9), {10, 11}, {'name': 'John', 'age': 36}]

### insert ()
Using the insert function you can add the item to the list at a position you desire.

In [44]:
a.insert(1, "orange")
print(a)

[1, 'orange', -2, 3, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello']

### extend()
Using the extend() you can add any iterable object(tuple, dictionary, set, lists) to the existing list

In [45]:
tropical = ["mango", "pineapple", "papaya"]
a.extend(tropical)
print(a)

[1, 'orange', -2, 3, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello', 'mango', 'pineapple', 'papaya']

In [46]:
thistuple = ("apple", "banana", "cherry")
a.extend(thistuple)
print(a)

[1, 'orange', -2, 3, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello', 'mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']

In [47]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
a.extend(dict)
print(a)

[1, 'orange', -2, 3, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello', 'mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'Name', 'Age', 'Class']

In [48]:
thisset = {"apple", "banana", "cherry"}
a.extend(thisset)
print(a)

[1, 'orange', -2, 3, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello', 'mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'Name', 'Age', 'Class', 'banana', 'cherry', 'apple']

### 2. Remove/Delete an item in the list

### pop()
*The pop() method removes the specified index. If the index is not specified the pop function removes the item at the end of the list*

In [57]:
a.pop(1)

3

In [58]:
a.pop()
print(a)

[1, 4, -9, 6, 1, 7, 8, 0, 3, 5.0, [6, 7], 'Hello', (8, 9), {10, 11}, {'name': 'John', 'age': 36}, 3, 5.0, [6, 7], 'Hello', (8, 9), {10, 11}]

### remove()

The remove() method removes the specified item. If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [59]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Clear()
The clear() method empties the list. 
The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

### del()

The del keyword also removes the specified index.

In [60]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

When index is not specified the del keyword can also delete the list completely.

In [61]:
thislist = ["apple", "banana", "cherry"]
del thislist

### 4. Replace items in the list

In [8]:
a[0] = 'changed item' #changes the item that is in the first position of the list.

In [9]:
print(a)

['changed item', -2, 3, 4, 3, 5.0, [6, 7]]

In [10]:
b = ["banana", "apple", "microsoft"]

In [15]:
b[0], b[2] = "microsoft", "banana"

In [17]:
print(b)

['microsoft', 'apple', 'banana']

In [15]:
list = str([1, 2, 3, 4, 5, 4, 3, 2, 1])
print(list)

[1, 2, 3, 4, 5, 4, 3, 2, 1]

In [16]:
type(list)

str

In [18]:
array = [1, 2, 3, 4, 5, 4, 3, 2, 1]
array_3D = [[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [22]:
diag = [array_3D[i][i] for i in range(0, len(array_3D))]
counter_diag = [array_3D[i][~i] for i in range(0, len(array_3D))]
print(diag)
print(counter_diag)
 
#print(abs(sum(diag, counter_diag)))

[[1, 2, 3]]
[[7, 8, 9]]

TypeError: unsupported operand type(s) for +: 'int' and 'list'